// @media для хедера
@media(max-width:768px){
    .container{
      max-width: 768px;
      height: 100%;
    }
    .header__list li{
      padding-right: 34px;
      margin-top: 16px;
      display: inline-block;
    
    }
    .header__img{
      width: 768px;
      height: 361px;
      margin-top: 51px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    .header__burger {
              display: block;
          margin-top: 20px;
         margin-left: 740px;
              position: relative;
              width: 30px;
              height: 20px;
  
          }
          .header__burger span{
              float: right;
              position: absolute;
              background-color:black;
              position: absolute;
              left: 0;
              width: 100%;
              height: 2px;
              top: 9px;
              transition: all 0.3s ease 0s;
          }
          .header__burger:before,
          .header__burger:after{
              content: '';
              background-color: black;
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              transition: all 0.3s ease 0s;
          }
          .header__burger:before{
              top: 0;
          }
          .header__burger:after{
              bottom: 0;
          }
      
          .header__burger.active span{
              transform: scale(0);
          }
      
          .header__burger.active:before{
              transform:rotate(45deg);
              top: 9px;
          }
          .header__burger.active:after{
              transform:rotate(-45deg);
              bottom: 9px;
          }
        .header__menu{
          display: none;
        }
          .header__menu.active{
          display: block;
          width: 150px;
          height: 320px;
          background-color:#F5F5F5;
         position: absolute;
         margin-left: 620px;
         margin-top: 50px;
          
          }
          .header__link {
              font-size: 14px;
          }
      }

      @media (max-width:320px) {
        .container{
            width: 320px;
            overflow: auto;
            height: 100%;
        
          }
          .header__list{
            text-align: center;
          
          }
          .header__list li{
            padding-right: 55px;
            margin-top: 16px;
            display: inline-block;
          
          }
          .header__link:hover{
            color: #57A4A4;
          
          }
          .header__link{
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 22px;
            list-style: none;
            color: #4E4E4E;
          }
          .header__img{
           width: 320px;
           height: 150px;
          }
          .header__burger {
            display: block;
            margin-top: 20px;
          margin-left: 290px;
            position: relative;
            width: 30px;
            height: 20px;
           

        }
        .header__burger span{
            float: right;
            position: absolute;
            background-color:black;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        .header__burger:before,
        .header__burger:after{
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
            
        }
        .header__burger:before{
            top: 0;
        }
        .header__burger:after{
            bottom: 0;
        }
    
        .header__burger.active span{
            transform: scale(0);
        }
    
        .header__burger.active:before{
            transform:rotate(45deg);
            top: 9px;
        }
        .header__burger.active:after{
            transform:rotate(-45deg);
            bottom: 9px;
        }
      .header__menu{
        display: none;
      }
        .header__menu.active{
        display: block;
        width: 150px;
        height: 320px;
        background-color:#F5F5F5;
       position: absolute;
       margin-left: 200px;
       margin-top: 50px;
        
        }
        .header__link {
            font-size: 14px;
        }
          
          
      }

    //   @media для мейн

      @media(max-width:768px){
        .wrap__img{
            display: flex;
            flex-direction: column;
          }
          .main__img{
            padding-top: 32px;
            float: left;
          }
          .content__img{
              width: 295px;
          }
          .first__content{
              width: 233px;
          }
          .second__content{
              width: 404px;

          }
       
      }
      @media (max-width:320px) {
       
            .second__content{
            display: none;
            }
            

      }

    //   @media для футтер
    @media (max-width:768px){
        .footer__wrap{
            width: 100%;
            height: 100%;
            margin-top: 49px;
        
    }}
    @media (max-width:320px){
        .footer__wrap{
            width: 100%;
            height: 100%;
            overflow: auto;
          
        }
  

    }
    




          
      